body{
  background-image: url('https://media.istockphoto.com/id/1465760198/vector/abstract-blue-background-with-space-for-text.jpg?s=612x612&w=0&k=20&c=fXbSkVB3MdZjkaYUIX-Q7liCtmG5cr6kqAAzX-cM3L8=');
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}